*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--white);
    color: var(--text-dark);
}

a{
    text-decoration:none;
}

img{
    max-width:100%;
    display:block;
}

.container{
    width:90%;
    max-width:var(--container-width);
    margin:auto;
}

